@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding-top: 20px;
    padding-left: 40px;
    padding-right: 20px;
}

.header nav{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.logo{
    margin: 0;
}

.logo p{
    font-size: 12px;
    margin-top: -18px;
}

.header h1{
    font-size: 22px;
}

.header a{
    text-decoration: none;
    color: black;
}

.header h1 span{
    color: rgb(49, 109, 179);
}

.header ul{
    display: flex;
    gap: 50px;
    font-size: 16px;
}

.header li{
    list-style-type: none;
}

.header li a{
    text-decoration: none;
    color: black;
    font-weight: bolder;
    transition: 0.2s ;
}

.header li a:hover{
    color: rgba(0, 0, 0, 0.493);
}

.btn-contato{
    display: inline-block;
    border: 1px solid black;
    padding: 10px 40px;
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-contato:hover{
    color: white;
    background-color: rgb(20, 58, 100);
    border: 1px solid rgb(20, 58, 100);
}