@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Montserrat;

    background-color: whitesmoke;
}

html{
    scroll-behavior: smooth;
}

/* ===================== */
/* NAVEGAÇÃO */
/* ===================== */

.header nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    font-size: 16px;
}

.header nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    transition: 0.2s;
}

.header nav a:hover{
    color: rgba(0, 0, 0, 0.5);
}

/* ===================== */
/* COMPONENTES */
/* ===================== */

.acoes a{
    text-decoration: none;
    color: black;
}

.btn-contato{
    display: inline-block;
    border: 1px solid black;
    padding: 10px 40px;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-contato:hover{
    color: white;
    background-color: rgb(20, 58, 100);
    border-color: rgb(20, 58, 100);
}

/* ===================== */
/*        INICIO         */
/* ===================== */

.inicio{
    padding: 120px 48px;
    display: flex;
    justify-content: center;
    position: relative;
    min-height: 850px;
    background-color: rgb(20, 58, 100);
    color: whitesmoke;
}

.inicio-content{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

.inicio-voltar{
    margin: 0px 0px 34px;
}

.inicio-voltar a{
    font-size: 12px;
    letter-spacing: 3px;
    text-decoration: none;
    color: rgb(137, 192, 218);
    transition: all 0.2s ease;
}

.inicio-voltar a:hover{
    color: rgba(255, 255, 255, 0.3);
}

.inicio-subtitulo{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 500;
    margin: 0px 0px 24px;
    color: rgb(137, 192, 218);
}

.inicio-titulo{
    margin: 0px 0px 40px;
}

.inicio-titulo h1{
    font-size: 96px;
    font-weight: 800;
}

.inicio-titulo span{
    color: rgb(137, 192, 218);
}

.inicio-descricao{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1px;
    color: rgba(255, 255, 255, 0.7);
}

.inicio hr{
    height: 1px;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    margin: 80px 0px 0px;
}

.inicio-itens{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item h2{
    font-size: 36px;
    margin-bottom: 8px;
}

.item p{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
}

/* ===================== */
/*      PORTFOLIO        */
/* ===================== */

.container{
    max-width: 1300px;
    margin: 0 auto;
    padding-top: 128px;
    padding-bottom: 128px;
}

.section-header{
    margin-bottom: 80px;
}

.section-label{
    font-size: 12px;
    letter-spacing: 4px;
    color: rgb(49, 109, 179);
    margin-bottom: 15px;
}

.section-heading{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 40px;
}

.section-title{
    font-size: 48px;
    font-weight: 900;
}

.section-description{
    max-width: 400px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
}

.projects-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.project-card{
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.05);
    transition: 0.3s ease;
    cursor: default;
}

.project-card:hover{
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.project-card__image{
    height: 260px;
    overflow: hidden;
    position: relative;
}

.project-card__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s;
}

.project-card:hover img{
    transform: scale(1.05);
}

.project-card__status{
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: rgb(49, 109, 179);
    color: white;
    font-size: 12px;
    padding: 6px 10px;
    letter-spacing: 2px;
}

.project-card__content{
    padding: 24px;
    display: flexx;
    flex-direction: column;
    gap: 20px;
}

.project-card__category{
    font-size: 12px;
    letter-spacing: 2px;
    color: rgb(49, 109, 179);
    margin: 0px 0px 12px;
}

.project-card__title{
    font-size: 22px;
    margin: 0px 0px 8px;
}

.project-card__location{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0px 0px 20px;
}

.project-card__description{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.6);
    margin: 0px 0px 24px;
}

.project-card__content hr{
    height: 1px;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
}

.project-card__meta{
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px;
}

.item{
    display: flex;
    flex-direction: column;
}

.meta-label{
    font-size: 11px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, 0.5);
}

.meta-value{
    font-size: 14px;
    font-weight: 700;
}

.project-card__button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2px;
    border-top: 2px solid black;
    color: black;
    transition: 0.2s;
    margin: 24px 0px 0px;
    padding: 16px 0px 0px;
}

.project-card__button:hover{
    color: rgb(49, 109, 179);
}

/* ===================== */
/*        RODAPÉ         */
/* ===================== */

.rodape{
    padding: 80px 48px;
    display: flex;
    justify-content: center;

    background-color: rgba(20, 58, 100, 0.9);
}

.rodape-content{
    width: 100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
}

.rodape-infos{
    display: flex;
    align-items: start;
    justify-content: space-between;

    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 60px;
}

.rodape-header h1{
    padding-bottom: 15px;
    color: white;
    font-size: 24px;
}

.rodape-header h1 span{
    color: rgb(137, 192, 218);
}

.rodape-header p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 1px;
}

.rodape-contato{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.rodape-contato h2{
    padding-bottom: 15px;
    font-size: 12px;
    color: white;
    letter-spacing: 3px;
    font-weight: 600;
}

.rodape-contato p{
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.rodape-final{
    display: flex;
    justify-content: space-between;

    padding-top: 40px;
}

.rodape-final h2{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 2px;
    font-weight: 400;
}

.rodape-links{
    display: flex;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.7);

    gap: 25px;
    letter-spacing: 1px;
}

.rodape-links a, .rodape-links p{
    transition: 0.2s ease;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

.rodape-links a:hover, .rodape-links p:hover{
    color: white;
}